*{
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark-color: rgba(0, 0, 0, 0.15);
}

/**************************************************************************/
/* Classes réutilisables */
.my-shadow{
    box-shadow: 0 -0.5rem 1rem var(--dark-color);
}

.fs-7{
    font-size: 1.15rem;
}
/**************************************************************************/
html,body{
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav a, footer p{
    font-family: 'Pacifico', cursive;
}
